* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  width: 100%;
  background-image: linear-gradient(to right, rgb(117, 0, 163), rgb(239, 203, 248));
  color:white;
}

.header .banner {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .banner .logo {
  width: 40px;
}

.header .banner .title{
  padding-left: 5px;
  display: inline;
}
